body {
  color: #fff;
  background: url(../img/cidade.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(14, 2, 35, 0.5);
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:focus .nav-link,
.navbar-nav .nav-item .nav-link.active {
  color: #7643ea;
  cursor: pointer;
}
/* Fim Header */

h2 {

  font-size: 60px;
}

h4 {
  margin-bottom: 0;
  padding-left: 5px;
}

.tab-content {
  margin-top: 90px;
  position: relative;
  z-index: 1;
}
.tab-content .tab-pane {
  padding: 35px;
}

.tab-content .tab-pane.bg-purple {
  color: #fff;
  background-color: rgba(67, 25, 161, 0.65);
}
.tab-content .tab-pane.bg-light {
  color: #212529;
}

.tab-content .tab-pane form select
{
  height: 52px;
  border-radius: 0;
  padding: 0 10px;
  color: #72728c;
  font-weight: 600;
  border: none;
  margin-right: 10px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #8e0083;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #bfc0c1;
  cursor: not-allowed;
}

.text-purple {
  color: #6f42c1;
}

.text-pink {
  color:#e83e8c;
}